*{
	padding: 0;
	margin: 0;
}

body{
	background: #efefef;
	margin: 0;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
hr{
	height: 0;
	border: 0;
	border-top: 1px solid #dedede;
}
 main{
	 margin-top: -300px;
 }
/* 头部导航条 */
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

.topNavBar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
} 

.topNavBar-inner{
	padding: 20px 16px;
}

.banner{
	height: 515px;
	background-image: url(../img/rs-cover.jpg);
	background-position: center center;
	background-size: cover;
}

.mask{
	height: 515px;
	background-color: rgba(0,0,0,0.8);
}

.topNavBar  nav > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.topNavBar a{
	float: left;
}

.topNavBar nav{
	float: right;
}

.topNavBar nav > ul > li{
	float: left;
	margin: 0 17px;
}

.topNavBar nav > ul > li > a{
	font-size: 12px;
	color: #B7B7B7;
	font-weight: bold;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	padding-top: 11px;
	padding-bottom: 6px;
	display: block;
}

.topNavBar nav > ul > li > a:hover{
	border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
	font-size: 24px;
	font-family: 'Arial Black';
	padding-top: 3px;
	padding-bottom: 4px;
}

.topNavBar .logo .rs{
	margin-right: 4px;
	color: #e6686a;
}

.topNavBar .logo .card{
	color: #B7B7B7;
}

/* 卡片部分 */
.userCard{
	max-width: 940px;
	background: #ffff;
	margin: 0 auto;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.userCard .welcome{
	background-color: #e6686a; 
	color: white;
	padding: 4px 15px;
	line-height: 22px;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}

.userCard .triangle{
	border: 9px solid transparent;
	border-left-color: #e6686a;
	border-top-width: 0px;
	width: 0;
	display: block;
	position: absolute;
	top: 100%;
	left: 4px;
}

.userCard .picture{
	float: left;
}

.userCard .text{
	float: left;
	width: 470px;
	margin-left: 65px;
}

.userCard .text h2{
	padding-top: 18px;
}

.userCard .text hr{
	margin: 20px 0;
}

.picAndText{
	padding: 50px;
}

.userCard dl dt,
.userCard dl dd{
	float: left;
	padding: 8px 0;
}

.userCard dl dt{
	width: 30%;
	font-weight: bold;
}
.userCard dl dd{
	width: 70%;
	color: #9da0a7;
}

.userCard .media{
	background: #e6686a;
	text-align: center;
}

.userCard .media svg{
	width: 30px;
	height: 30px;
	fill: white;
	vertical-align: top;
}

.userCard footer a{
	display: inline-block;
	margin: 10px 16px;
	width: 40px;
	padding: 5px 0;
	border-radius: 50%;
}

.userCard footer a:hover{
	background: #cf5d5f;	
}

/* 下载简历 */
main .downloadResume{
	font-size: 14px;
	line-height: 16px;
	padding: 21px 55px;
	display: inline-block;
	margin: 32px 0;
	border: 1px solid #cdcfd1;
    background: #efefef;
    border-radius: 2px;
    color: #3d4451;
	font-weight: bold;
	transition: box-shadow 0.2s;
}

main .downloadResume:hover{
	box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

main .downloadResume-wraper{
	text-align: center;
}

/* 自我介绍 */
.selfIntroduction{
	max-width: 940px;
	margin: 0 auto;
	text-align: center;
	font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}

section.skills,
section.portfolio{
	max-width: 940px;
	margin: 0 auto;
	margin-top: 60px;
}

section.skills h2,
section.portfolio h2{
	color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
	font-weight: 600;
	text-align: center;
}

section.skills ol{
	background: white;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
	padding: 40px 50px 10px;
	margin-top: 30px;
}

section.skills h3{
	font-size: 14px;
    line-height: 1.1;
}

section.skills .progressBar{
	height: 5px;
	border-radius: 2px;
	margin: 4px 0 40px;
	background: #FAE1E1;
}

section.skills .progress{
	height: 100%;
	width: 30%;
	background: #e6686a;
}

section.skills li{
	float: left;
	width: 48%;
	box-sizing: border-box;
}

section.skills li:nth-child(even){
	float: right;
}

/* 作品集部分 */
section.portfolio{
	text-align: center;
	margin-bottom: 100px;
}

section.portfolio li{
	float: left;
	border-top: 3px solid transparent;
	border-bottom: 3px solid white;
	padding: 0 30px 5px;
	border-radius: 2px;
}

section.portfolio li:hover{
	border-bottom: 3px solid #e06567;
}

section.portfolio nav{
	display: inline-block;
	margin-top: 30px;
}