*{
	padding: 0;
	margin: 0;
}

body{
	background: #efefef;
	margin: 0;
}

a{
	text-decoration: none;
}

hr{
	height: 0;
	border: 0;
	border-top: 1px solid #dedede;
}

/* 头部导航条 */
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}

.topNavBar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
} 

.topNavBar-inner{
	padding: 20px 16px;
}

.banner{
	height: 515px;
	background-image: url(../img/rs-cover.jpg);
	background-position: center center;
	background-size: cover;
}

.mask{
	height: 515px;
	background-color: rgba(0,0,0,0.8);
}

.topNavBar  nav > ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.topNavBar a{
	float: left;
}

.topNavBar nav{
	float: right;
}

.topNavBar nav > ul > li{
	float: left;
	margin: 0 17px;
}

.topNavBar nav > ul > li > a{
	font-size: 12px;
	color: #B7B7B7;
	font-weight: bold;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	padding-top: 11px;
	padding-bottom: 6px;
	display: block;
}

.topNavBar nav > ul > li > a:hover{
	border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
	font-size: 24px;
	font-family: 'Arial Black';
	padding-top: 3px;
	padding-bottom: 4px;
}

.topNavBar .logo .rs{
	margin-right: 4px;
	color: #e6686a;
}

.topNavBar .logo .card{
	color: #B7B7B7;
}

/* 卡片部分 */
.userCard{
	max-width: 940px;
	background: #ffff;
	margin: 0 auto;
}

.userCard .welcome{
	background-color: #e6686a; 
	color: white;
	padding: 4px 15px;
	line-height: 22px;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}

.userCard .triangle{
	border: 9px solid transparent;
	border-left-color: #e6686a;
	border-top-width: 0px;
	width: 0;
	display: block;
	position: absolute;
	top: 100%;
	left: 4px;
}

.userCard .picture{
	float: left;
}

.userCard .text{
	float: left;
	width: 470px;
	margin-left: 65px;
}

.userCard .text h2{
	padding-top: 18px;
}

.userCard .text hr{
	margin: 20px 0;
}

.picAndText{
	padding: 50px;
}

.userCard dl dt,
.userCard dl dd{
	float: left;
	padding: 8px 0;
}

.userCard dl dt{
	width: 30%;
	font-weight: bold;
}
.userCard dl dd{
	width: 70%;
	color: #9da0a7;
}

.userCard .media{
	background: yellow;
	text-align: center;
}

.userCard footer a{
	display: inline-block;
}
